/* Typography
==============================================================================*/
/* H Group
-----------------------------------------------------------*/
h1,.h1 {
    font-weight: bold;
    font-size:1.8em;
}
h2,.h2 {
    font-weight: bold;
    font-size:1.5em;
}
h3,.h3 {
    font-weight: bold;
    font-size:1.5em;
}
h4, h5, h6, .h4, .h5, .h6 {
    font-weight: bold;
    font-size: 1.2em;
}
/* Links
-----------------------------------------------------------*/
a{
    color:$linkColor;
    text-decoration:none;
}
a:visited{}
a:hover{
    text-decoration:underline;
}
a:active{}
a:focus{outline: none;}
html:not(.desktop) a[href^=tel]{
    text-decoration: underline;
    color: inherit;
}
/* Form tags styles
-----------------------------------------------------------*/
input[type=text],input[type=search],input[type=tel],input[type=email],input[type=password],
textarea,
select {
    position: relative;
    font: $fz-base $family-base, sans-serif;
    outline: none;
    padding: 4px;
    border: 1px solid #ccc;
    color: black;
    vertical-align: middle;
    overflow: hidden;
    background: #fff;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
textarea{
    overflow: auto;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
    color: $placeholder; }
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
    color: $placeholder;  }
input:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder {
    color: $placeholder;opacity: 1;  }
input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
    color: $placeholder;opacity: 1;  }
input.placeholder,
textarea.placeholder,
select.placeholder {
    color: $placeholder; }
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder,
select:focus:-moz-placeholder {
    color: transparent !important; }
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder,
select:focus::-moz-placeholder {
    color: transparent !important; }
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder,
select:focus:-ms-input-placeholder {
    color: transparent !important; }
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
select:focus::-webkit-input-placeholder {
    color: transparent !important; }
input.placeholder:focus,
textarea.placeholder:focus,
select.placeholder:focus {
    color: transparent !important; }
input[type=text]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=email]:focus,input[type=password]:focus,
textarea:focus,
select:focus {
    color: black;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
select {
    padding: 0; }
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    position: relative;
    text-decoration: none;
    outline: none;
    padding: 4px 8px;
    border: 1px solid #ccc;
    font: $fz-base $family-base, sans-serif;
    display: inline-block; }
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {}
/*stylized-switch*/
.switch{
    position: relative;
    display: inline-block;
    height: $switchH;
    width: $switchW;
    vertical-align: middle;
    cursor: pointer;
    top: -1px;
    margin-right: 3px;
}
.switch input{
    vertical-align: middle;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: $switchH;
    width: $switchW;
}
.switch input:not(:checked),.switch input:checked{
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 1;
    cursor: pointer;
}
/*not checked radio*/
.switch input[type=radio]:not(:checked)+i,.switch input[type=radio]:checked+i{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $switchNotCheckedBg;
    border: $switchNotCheckedBorder;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
}
/*not checked checkbox*/
.switch input[type=checkbox]:not(:checked)+i,.switch input[type=checkbox]:checked+i{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $switchNotCheckedBg;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border: $switchNotCheckedBorder;
}
/*checked radio*/
.switch input[type=radio]:checked+i{
    background: $switchCheckedBg;
    -webkit-box-shadow:$switchCheckedShadow;
    -moz-box-shadow:$switchCheckedShadow;
    box-shadow: $switchCheckedShadow;
    border: $switchCheckedBorder;
}
/*checked checkbox*/
.switch input[type=checkbox]:checked+i{
    background: $switchCheckedBg;
    -webkit-box-shadow:$switchCheckedShadow;
    -moz-box-shadow:$switchCheckedShadow;
    box-shadow: $switchCheckedShadow;
    border: $switchCheckedBorder;
}
/*hover radio*/
.switch input[type=radio]:checked+i:hover,label:hover .switch input[type=radio]:checked+i{
    opacity: 0.85;
}
.switch  input[type=radio]+i:hover, label:hover .switch  input[type=radio]+i{
    opacity: 0.85;
}
/*hover checkbox*/
.switch input[type=checkbox]:checked+i:hover,label:hover .switch input[type=checkbox]:checked+i{
    opacity: 0.85;
}
.switch  input[type=checkbox]+i:hover, label:hover .switch  input[type=checkbox]+i{
    opacity: 0.85;
}
/*end stylized-switch*/