# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/node_modules/
/jspm_packages/
/maps/
/заметки
/build/
/dist/
/deploy.tgz
