- var version = Math.random().toString(36).substring(2);

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(name='theme-color' content='#ffffff')
  title=vars.title
  link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
  link(rel='icon', href='/favicon.ico', type='image/x-icon')
  link(href='css/vendor.css?v' + version, rel='stylesheet')
  link(href='css/main.css?v' + version, rel='stylesheet')
