@import "../mixins/flexbox"
@import "../mixins/include-media"
@import "../variables"

html, body
    font: $fz-base/$line-height-base $family-base
    height: 100%
    width: 100%
    color: $color-base
    background: $bg-color-base
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

*, *:before, *:after
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box

/* Wrapper----------------------------------------------------------- * /

#wrapper
    min-height: 100%
    height: auto !important
    height: 100%
    margin: 0 auto
    @include flexbox
    @include flex-flow(column nowrap)
    @include justify-content(flex-start)

/* Header----------------------------------------------------------- * /

#header

.header-center
    position: relative
    margin: 0 auto

/* Container----------------------------------------------------------- * /

#content
    zoom: 1
    @include flex(1)

.columns
    position: relative
    margin: 0 auto
    @include flexbox

.center
    max-width: 1000px
    margin: 0 auto

.column-center
    @include flex(1)
    @include order(2)

/* Sidebar----------------------------------------------------------- * /

.column-left
    width: 250px
    background: #808080
    position: relative
    @include order(1)

.column-right
    width: 250px
    background: #808040
    position: relative
    @include order(3)

/* Footer----------------------------------------------------------- * /

#footer
    clear: both
    background: none repeat scroll 0 0 #eee

.footer-center
    position: relative
    margin: 0 auto

