extends layouts/_default

block data
  -
    vars = {
    header_class: '',
    title: 'Site name | home'
    }

block header
  include includes/_header

block content
  section.container
    | center
    svg
      use(xlink:href="img/sprite.svg#heart")
