extends layouts/_default

block content
  .columns
    .columns-center
      | columns-content
    aside.columns-left
      = '\n'
      | columns-left
    aside.columns-right
      = '\n'
      | columns-right
  section.center
   | center