extends layouts/_default

block data
  -
    vars = {
      header_class: 'header-bg-home',
      title: 'Site name | home'
    }

block header
  include includes/_header

block content
  .columns
    .columns-center
      | columns-content

    aside.columns-left
      = '\n'
      | columns-left

    aside.columns-right
      = '\n'
      | columns-right
  section.center
   | center
