include ../mixins/_mixins

doctype html

html(lang='en')
  include ../includes/_head

  body
    #wrapper
      include ../includes/_header
      // header

      #content
        block content
      // content

      include ../includes/_footer
      // footer
    // wrapper

    include ../includes/_scripts
