include ../mixins/_mixins

block data

doctype html

html(lang='en')
  include ../includes/_head

  body
    block header

    main.content
      block content

    include ../includes/_footer

    include ../includes/_scripts
